<p style="color: green"><%= notice %></p>

<h1>Hello <%= @current_user.name || @current_user.ip %></h1>
<div class="card">
  <div class="card-body">
    <% if @location.data_missing? %>
      Sorry I can't seem to find where you are located
    <% else %>
      <%= turbo_frame_tag "location_#{@location.id}", src: location_path(@location), loading: :lazy %>
    <% end %>
  </div>
</div>


<div id="locations">
  
</div>