<%= turbo_frame_tag "location_#{@location.id}" do %>
 <%= render @location %>

<div>
  <%= link_to "Edit this location", edit_location_path(@location), data: { turbo_frame: 'location_form_dialog', controller: 'bootstrap--modal', action: 'bootstrap--modal#pop', 'bootstrap--modal-modal-id-value': '#locationModal' }, class: 'btn btn-primary' %>

  <% if !@location.primary %>
    <%= button_to "Destroy this location", @location, method: :delete %>
  <% end %>
</div>
<% end %>